{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{foodItem.title}}</h1>
    <img src="{{foodItem.image}}">
    <a href="{{foodItem.link}}">link</a>
{% endblock %}

{% block stylesheets %}
{% endblock %}
